html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: absolute;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 30px;
}

.links > a {
    color:white;
    padding: 0 25px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/* responsivo - tamanho minimo */

.menuPrincipal{
    background-color:rgba(0,0,0,0.3);
    height: 60px;
    width: 100%;
}
.areaBuscaEBotoes{
    position:absolute;
    margin-top: 100px;
    margin-left: 72px;
}
.personalizandoBotaoCandidato{
    height:30px;
    width: 110px;
    background-color: rgba(80,109,125,0.9);
    color:white;
    font-size: 13px;
}
.personalizandoBotaoEmpresa{
    height:30px;
    width:110px;
    background-color: rgba(223,191,151,0.7);
    color:black;
    font-size: 13px;
}

.area_selecaoCandidato{
    background-color:rgba(223,191,151,0.7);
    width: 330px;
    height:100px;
    margin-top:0px;
    margin-left:-57px;
}
.area_selecaoEmpresa{
    background-color:rgba(80,109,125,0.9);
    width: 330px;
    height:100px;
    margin-top:0px;
    margin-left:-57px;
}


@media screen and (min-width:359px){

}

@media screen and (min-width:767px){

}

@media screen and (min-width:1023px){
    .areaBuscaEBotoes{
        position:absolute;
        margin-top: 130px;
        margin-left: 395px;
    }
    .personalizandoBotaoCandidato{
        height:50px;
        width: 129px;
        background-color: rgba(80,109,125,0.9);
        color:white;
        font-size: 16px;
        border:none;
    }
    .personalizandoBotaoEmpresa{
        height:50px;
        width:120px;
        background-color: rgba(223,191,151,0.9);
        color:black;
        font-size: 16px;
        border:none;
    }
    .area_selecao{

        width: 750px;
        height:300px;
        margin-top:0px;
        margin-left: -251px;
    }

    .texto_sou_candidato{
        position:absolute;
        font-size: 35px;
        margin-left:80px;
        margin-top: 35px;
        color:white;
    }

    .areaCorCandidato{
        position:absolute;
        width: 750px;
        height:300px;
        background-color: rgba(80,109,125,0.9);
    }

    .areaCorEmpresa{
        position:absolute;
        width: 750px;
        height:300px;
        background-color: rgba(223,191,151,0.9);
    }

    .campos_candidato{
        position:absolute;
        font-size: 19px;
        margin-left:122px;
        margin-top: 110px;
        width: 510px;
        height: 40px;
    }
    .texto_sou_empresa{
        position:absolute;
        font-size: 35px;
        margin-left:170px;
        margin-top: 35px;
        color:white;
    }

    .campo_texto1{
        float:left;
    }

    .campo_texto2{
        float:right;
    }

    .buttonPesquisar{
        font-size: 16px;
        height:37px;
        width:168px;
        background-color:white;
        margin-left:348px;
        margin-top:50px;
        border:none;
    }

    .campos_empresa{
        position:absolute;
        font-size: 19px;
        margin-left:122px;
        margin-top: 110px;
        width: 510px;
        height: 40px;
    }
    .campo_texto3{
        margin-left:122px;
    }

}

@media screen and (min-width:1308px){
    .areaBuscaEBotoes{
        position:absolute;
        margin-top: 130px;
        margin-left: 520px;
    }
    .personalizandoBotaoCandidato{
        height:50px;
        width: 129px;
        background-color: rgba(80,109,125,0.9);
        color:white;
        font-size: 16px;
        border:none;
    }
    .personalizandoBotaoEmpresa{
        height:50px;
        width:120px;
        background-color: rgba(223,191,151,0.9);
        color:black;
        font-size: 16px;
        border:none;
    }
    .area_selecao{

        width: 750px;
        height:300px;
        margin-top:0px;
        margin-left: -250px;
    }

    .texto_sou_candidato{
        position:absolute;
        font-size: 35px;
        margin-left:80px;
        margin-top: 35px;
        color:white;
    }

    .areaCorCandidato{
        position:absolute;
        width: 750px;
        height:300px;
        background-color: rgba(80,109,125,0.9);
    }

    .areaCorEmpresa{
        position:absolute;
        width: 750px;
        height:300px;
        background-color: rgba(223,191,151,0.9);
    }

    .campos_candidato{
        position:absolute;
        font-size: 19px;
        margin-left:122px;
        margin-top: 110px;
        width: 510px;
        height: 40px;
    }
    .texto_sou_empresa{
        position:absolute;
        font-size: 35px;
        margin-left:170px;
        margin-top: 35px;
        color:white;
    }

    .campo_texto1{
        float:left;
    }

    .campo_texto2{
        float:right;
    }

    .buttonPesquisar{
        font-size: 16px;
        height:37px;
        width:168px;
        background-color:white;
        margin-left:348px;
        margin-top:50px;
        border:none;
    }

    .campos_empresa{
        position:absolute;
        font-size: 19px;
        margin-left:122px;
        margin-top: 110px;
        width: 510px;
        height: 40px;
    }
    .campo_texto3{
        margin-left:122px;
    }

}

@media screen and (min-width:1359px){
    .areaBuscaEBotoes{
        position:absolute;
        margin-top: 235px;
        margin-left: 570px;
    }
    .personalizandoBotaoCandidato{
        height:50px;
        width: 140px;
        background-color: rgba(80,109,125,0.9);
        color:white;
        font-size: 19px;
        border:none;
    }
    .personalizandoBotaoEmpresa{
        height:50px;
        width:140px;
        background-color: rgba(223,191,151,0.9);
        color:black;
        font-size: 19px;
        border:none;
    }
    .area_selecao{

        width: 750px;
        height:300px;
        margin-top:0px;
        margin-left: -251px;
    }

    .texto_sou_candidato{
        position:absolute;
        font-size: 35px;
        margin-left:80px;
        margin-top: 35px;
        color:white;
    }

    .areaCorCandidato{
        position:absolute;
        width: 750px;
        height:300px;
        background-color: rgba(80,109,125,0.9);
    }

    .areaCorEmpresa{
        position:absolute;
        width: 750px;
        height:300px;
        background-color: rgba(223,191,151,0.9);
    }

    .campos_candidato{
        position:absolute;
        font-size: 19px;
        margin-left:122px;
        margin-top: 110px;
        width: 545px;
        height: 40px;
    }
    .texto_sou_empresa{
        position:absolute;
        font-size: 35px;
        margin-left:170px;
        margin-top: 35px;
        color:white;
    }

    .campo_texto1{
        float:left;
    }

    .campo_texto2{
        float:right;
    }

    .buttonPesquisar{
        font-size: 16px;
        height:37px;
        width:168px;
        background-color:white;
        margin-left:380px;
        margin-top:50px;
        border:none;
    }

    .campos_empresa{
        position:absolute;
        font-size: 19px;
        margin-left:122px;
        margin-top: 110px;
        width: 510px;
        height: 40px;
    }
    .campo_texto3{
        margin-left:122px;
    }
}

@media screen and (min-width:1919px){
    .areaBuscaEBotoes{
        position:absolute;
        margin-top: 400px;
        margin-left: 810px;
    }
    .personalizandoBotaoCandidato{
        height:60px;
        width: 170px;
        background-color: rgba(80,109,125,0.9);
        color:white;
        font-size: 21px;
        border:none;
    }
    .personalizandoBotaoEmpresa{
        height:60px;
        width:170px;
        background-color: rgba(223,191,151,0.9);
        color:black;
        font-size: 21px;
        border:none;
    }
    .area_selecao{
        width: 750px;
        height:300px;
        margin-top:0px;
        margin-left: -200px;
    }

    .texto_sou_candidato{
        position:absolute;
        font-size: 35px;
        margin-left:80px;
        margin-top: 35px;
        color:white;
    }

    .areaCorCandidato{
        position:absolute;
        width: 750px;
        height:300px;
        background-color: rgba(80,109,125,0.9);
    }

    .areaCorEmpresa{
        position:absolute;
        width: 750px;
        height:300px;
        background-color: rgba(223,191,151,0.9);
    }

    .campos_candidato{
        position:absolute;
        font-size: 21px;
        margin-left:60px;
        margin-top: 110px;
        width: 615px;
        height: 40px;
    }
    .texto_sou_empresa{
        position:absolute;
        font-size: 35px;
        margin-left:170px;
        margin-top: 35px;
        color:white;
    }

    .campo_texto1{
        float:left;
    }

    .campo_texto2{
        float:right;
    }

    .buttonPesquisar{
        font-size: 16px;
        height:37px;
        background-color:white;
        margin-left:450px;
        margin-top:50px;
        border:none;
        background-color: darkkhaki;
    }

    .campos_empresa{
        position:absolute;
        font-size: 21px;
        margin-left:122px;
        margin-top: 110px;
        width: 510px;
        height: 40px;
    }
    .campo_texto3{
        margin-left:122px;
    }
}

